html,
body {
    background-color: #ddd;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER: search bar, home nav, sign-in, cart */
.flex-header {
    padding: 5px 10px 5px 10px;
    background-color: #ffdf5b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: 100px;
}

.flex-header img {
    height: 75px;
}

.flex-header a {
    margin: 5px 15px 5px 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#header-title {
    font-size: 30px;
}

.flex-header input {
    height: 2em;
    flex-grow: 1;
}

.main-body {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    height: auto;
    margin: 20px;
    padding: 20px;
}

.img-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
}

.img-container img {
    margin: 50px;
}

.img-container img.small {
    height: 250px;
    width: 250px;
}

.img-container img.big {
    height: 500px;
    width: 500px;
}

.under-img-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 300px;
    border: 1px solid black;
}

.item-price-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 25%;
}

.desc-container {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 25%;
    border-left: 1px solid black;
}

.item-price-container h1,
.desc-container h1 {
    font-size: 40px;
    font-weight: 700;
}

/* FOOTER */
.flex-footer {
    display: flex;
    height: 100px;
    background-color: #ffdf5b;
    color: black;
    text-align: right;
    align-items: center;
    font-size: 20px;
}