<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Good Dog : Cart</title>

    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header class="flex-header">
        <a href="home.html"><img src="dog.png"></a>
        <a id="header-title" href="home.html">The Good Dog</a>
        <input type="text" placeholder="Search...">
        <a href="#">Sign in</a>
        <a href="cart.html">Cart</a>
    </header>

    <div class="cart-main-body">
        <div class="cart-display-container">
            <h1>Your cart is below!</h1>
            <div class="cart-item">
                <img src="#" alt="dog-treat-img">
                <p>Dog Treats</p>
                <p>Qty: 1</p>
                <p>Price: $1.99</p>
            </div>
            <div class="cart-item">
                <img src="#"alt="dog-toy-img">
                <p>Dog Toy</p>
                <p>Qty: 2</p>
                <p>Price: $15.99</p>
            </div>
            <div class="cart-item">
                <img src="#" alt="cat-treat-img">
                <p>Cat Treats</p>
                <p>Qty: 1</p>
                <p>Price: $1.99</p>
            </div>
        </div>

        <div class="total-display-container">
            <p>Sub-total: value</p>
            <p>Taxes: value</p>
            <p>Delivery Fee: value</p>
            <p>Service Fee: value</p>
            <p>Grand Total: value</p>
        </div>
    </div>

    <footer class="flex-footer">
        <p>©2024 Copyright</p>
    </footer>
</body>

</html>