<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page : Edit</title>

    <link rel="stylesheet" href="admin.css">

<body>
    <div class="container">
        <ul class="sidenav">
            <li><a class="active" href="home.html">Return to landing</a></li>
            <li><a class="active" href="admin.html">Return to Admin Page</a></li>
            <li><a href="upload.html">Upload</a></li>
            <li><a href="edit.html">Edit</a></li>
        </ul>

        <div class="content">
            <h2>Product Edit/Creation Admin Tool Page</h2>
            <p>
                A product edit page is needed to allow users to modify details of a product. All the fields (except the
                product id)
                should be editable on this page. Product image should just be a field, we will assume that the image is
                already
                on the server. This page should also allow for users to select the product they want to edit from a list
                of all
                products that they can filter by searching for a specific product or category. The page should also
                allow them to
                add a new product that does not exist. A product should have the following attributes, in addition to
                other
                attributes unique to your product:</br>
                • Product id (not editable)
                • Name
                • Description
                • Category id (or name)
                • Image path
                • Price
            </p>

            <div class="search">
                <div style="padding:10px;">
                    <label for="search">Search here</label>
                    <input type="search" name="search" id="search">
                    <button type="submit">filter</button>
                </div>
                <label for="select">Choose a product:</label>
                <select name="pets" id="pet-select">
                    <option value="">--Please choose an option--</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
            </div>

            <div class="result">
                <h4>Item</h4>
                <form action="#" method="post">
                    <img src="#" alt="product img">
                    <p>Product ID: </p>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name">
                    <label for="desc">Description: </label>
                    <input type="text" name="desc" id="desc">
                    <label for="category">Category: </label>
                    <input type="text" name="category" id="category">
                    <label for="imgpath">Image Path: </label>
                    <input type="text">
                    <label for="price">Price: </label>
                    <input type="number" name="price" id="price">
                </form>
            </div>
        </div>
    </div>
</body>

</html>