<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page : Upload</title>

    <link rel="stylesheet" href="admin.css">

<body>
    <div class="container">
        <ul class="sidenav">
            <li><a class="active" href="home.html">Return to landing</a></li>
            <li><a class="active" href="admin.html">Return to Admin Page</a></li>
            <li><a href="upload.html">Upload</a></li>
            <li><a href="edit.html">Edit</a></li>
        </ul>

        <div class="test">
            <div class="content" id="top">
                <h2>Bulk Upload Admin Tool Page</h2>
                <p>
                    Using this page, an admin user can select a file with bulk product data in JSON format (or more such
                    as
                    csv
                    or text)
                    and upload it into the database. This page should have a form field to select a file to upload.
                    This form should also have a submit button to allow them to upload the file. This part of the page
                    should
                    have an example
                    file format so they know what format the data should be in and instructions for the type of files
                    that
                    you
                    accept.
                </p>
            </div>

            <div class="content" id="bottom">
                <div class="upload-container">
                    <form action="#" method="post">
                        <div class="item">
                            <label for="upload">Upload data in the form; .txt, .csv, .json:</label>
                            <input type="file" accept=".txt, .csv, .json" name="upload" id="upload">
                        </div>
                        <div class="item">
                            <label for="submit">Submit form data:</label>
                            <input type="submit" name="submit" id="submit">
                        </div>
                        <div class="item">
                            <label for="reset">Reset form data:</label>
                            <input type="reset" name="reset" id="reset">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>

</html>